{{ if eq .chezmoi.osRelease.id "arch" -}}
#!/bin/bash

# Exit immediately if a command exits with a non-zero status
set -e

PACKAGES=(
  brightnessctl
  cpupower
  powertop
  power-profiles-daemon

  # System utilities
  btrfs-progs
)

# Batch install all packages
sudo pacman -S --needed --noconfirm "${PACKAGES[@]}"
sudo systemctl enable --now power-profiles-daemon.service

{{ end -}}
