{{ if eq .chezmoi.osRelease.id "arch" -}}
#!/bin/bash

# Exit immediately if a command exits with a non-zero status
set -e

echo "Installing i3 dependencies..."

PACKAGES=(
  i3-wm
  dex
  dunst
  xss-lock
  i3lock
  network-manager-applet
  pasystray
  pipewire-pulse
  playerctl
  brightnessctl
  alacritty
  rofi
  i3blocks
  imagemagick
  jq
  xclip
  maim
  terminus-font
  xorg-xset
  sddm

  # Utilities
  lxappearance
  arandr
  bluez
  blueman

  # Theme and icons
  breeze
  breeze-gtk
  breeze-icons

  # Input method
  fcitx5-im fcitx5-chinese-addons fcitx5-nord fcitx5-material-color

  # Basic desktop applications
  konsole dolphin okular spectacle vlc
)

# Batch install all packages
sudo pacman -S --needed --noconfirm "${PACKAGES[@]}"

# Environment variables for Fcitx5 (Chinese Input Method)
if ! grep -q "GTK_IM_MODULE=fcitx" /etc/environment; then
  echo "No Fcitx5 environment variables found in /etc/environment."
  echo " -> Appending Fcitx5 variables to /etc/environment..."
  cat <<EOF | sudo tee -a /etc/environment
GTK_IM_MODULE=fcitx
QT_IM_MODULE=fcitx
XMODIFIERS=@im=fcitx
SDL_IM_MODULE=fcitx
GLFW_IM_MODULE=ibus
EOF
fi

sudo systemctl enable sddm

{{ end -}}
