{{ if eq .chezmoi.osRelease.id "arch" -}}
#!/bin/bash

# Exit immediately if a command exits with a non-zero status
set -e

# Grouped packages array for easier maintenance
PACKAGES=(
  neovim python-neovim git lazygit tree-sitter-cli curl xclip unzip base-devel ripgrep fd
)

# Batch install all packages
sudo pacman -S --needed --noconfirm "${PACKAGES[@]}"

{{ end -}}
